@import "true";

@import "../tools/tools.clearfix";



@include test-module("[mixin] t-clearfix") {

  @include test("it should output a pseudo-element") {

    @include assert() {

      @include output {
        @include t-clearfix();
      }

      @include expect {
        &:after {
          content: "" !important;
          display: block !important;
          clear: both !important;
        }
      }
    }
  }
}

