/* ========================================================================
   #CONFIG
*/

// A map of global config settings. Define any project-level configuration,
// feature switches, etc. in here.

$s-config: (
  env: dev,
  healthcheck: true,
  debug: true,
);

// You can access data in this map using the following function:
//
// s-config(<key>)
//
// Example usage:
//
// @if (s-config(debug) == true) { ...  }

@function s-config($key) {
  @return map-get($s-config, $key);
}
